<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.personallockersplashscreen">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalLockerSplashScreen">
        <activity android:name=".PasscodeSet"></activity>
        <activity android:name=".Passcode" />
        <activity android:name=".VerifyPhoneOTP" />
        <activity android:name=".UploadArea" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Home" >
          <intent-filter>
              <category android:name="android.intent.category.APP_FILES" />
              <category android:name="android.intent.category.LearnApps"/>
              <category android:name="android.intent.category.ContentProviderApps"/>

          </intent-filter>
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
    </application>

</manifest>